appdirs==1.4.0
funcsigs==1.0.2
h5py==2.6.0
Keras==1.2.2
mock==2.0.0
numpy==1.12.0
olefile==0.44
packaging==16.8
pbr==1.10.0
Pillow==9.0.1
protobuf==3.2.0
pyparsing==2.1.10
PyYAML==5.4
scipy==0.18.1
six==1.10.0
tensorflow==2.5.1
Theano==0.8.2
